# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# VS Code settings
.vscode/

# Pytest and coverage
.pytest_cache/
.coverage
.cache/
coverage.xml
htmlcov/

# Packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Logs
*.log

# OS system files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/
